<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!-- Put site-specific property overrides in this file. -->

<configuration>
    <property>
        <name>fs.default.name</name>
        <value>host:port</value>
        <description>默认文件系统的名称。主机:DFS的端口</description>
    </property>
</configuration>
